* {margin: 0; padding: 0;}
body {background: #ccd3d7;}
.title{
    margin: 10px;
    padding: 10px;
    text-align: center;
    font-size:large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color:#27546e
}
.box {
    width:70%;
    height:200px;
    background:#FFF;
    margin:40px auto;
}
.effect2
{
  position: relative;
}
.effect2:before, .effect2:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  box-shadow: 0 15px 10px #777;
  transform: rotate(-3deg);
}
.effect2:after
{
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}